.panda-bg-info{
    background-color: #fceae8;
}

.panda-bg-warning{
    background-color: #ffa500;
}
.panda-pink{
    background-color: #da70d6;
}

.catagories img{
    width: 100px;
}

.panda-buy-btn{
    color: white;
    border-radius: 8px;
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    padding: 9px 25px;
    border: none;
}
.panda-price{
    color: #ff136f;
}